{% extends 'base.html.twig' %}

{% block title %}Acteurs.trices{% endblock %}

{% block body %}
    <h1>Liste des acteurs de la plateforme :</h1>

    <ul>
        {% for actor in actors %}
            <li>
                <h2>{{ actor.name }}</h2>
                <a href="{{ path('actor_show', {'id': actor.id}) }}">Voir sa fiche détaillée</a>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
